* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 1em 0;
}

header h1 {
  color: #c9c9c9;
  font-size: 1.5rem;
  font-family: "Poppins", "Roboto", "Open Sans", "Arial";
  text-align: center;
}

.toggle-section {
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: auto;
  grid-template-areas: "btn description";
  cursor: pointer;
  color: #c9c9c9;
  font-family: "Open Sans", "Poppins", "Roboto", "Arial";
  border-top: solid;
  border-bottom: solid;
  border-width: 0.1em;
  border-color: #707070;
  padding: 0.8em 1em;
  margin: 0 2em;
}

.toggle-section .btn-toggle {
  grid-area: btn;
  align-self: center;
  justify-self: center;
  color: #212529;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.6em;
  width: 1.5em;
  background-color: #c46083;
}

.toggle-section .description {
  grid-area: description;
  align-self: center;
  cursor: pointer;
}

.add-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas: "name name" "date time" "submit cancel";
  font-size: 0.85rem;
  border-top: solid;
  border-bottom: solid;
  border-width: 0.1em;
  border-color: #707070;
  padding: 1em 1em;
  margin: 0 2em;
}

.form-control input {
  width: 100%;
  height: 2.2em;
  padding: 0 0.5em;
  color: #c9c9c9;
  font-family: "Open Sans", "Poppins", "Roboto", "Arial";
  background-color: #2b2d38;
  border: none;
  border-radius: 0.3em;
  outline: none;
}

.label {
  display: block;
  color: #c9c9c9;
  font-family: "Open Sans", "Poppins", "Roboto", "Arial";
  margin: 0.35em 0 0.4em 0;
  padding-left: 0.2em;
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 0.3em;
  font-family: "Open Sans", "Poppins", "Roboto", "Arial";
  font-size: 0.7rem;
  outline: none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.name-section {
  grid-area: name;
  justify-self: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.add-form .date-section {
  grid-area: date;
  justify-self: end;
  width: 100%;
  padding-right: 0.8em;
}

.add-form .time-section {
  grid-area: time;
  margin-left: 0.8em;
}

.btn-add {
  grid-area: submit;
  justify-self: end;
  width: 48%;
  height: 2.5em;
  margin-right: 0.8em;
  color: #fff;
  background-color: #c46083;
}

.btn-add:active {
  background-color: #c46083ab;
}

.btn-cancel {
  grid-area: cancel;
  width: 48%;
  height: 2.5em;
  margin-left: 0.8em;
  border: solid;
  border-color: #c46083;
  border-width: 0.1em;
  color: #c46083;
  background-color: transparent;
}

.btn-cancel:active {
  color: #fff;
  background-color: #c46083;
}

.list-section {
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-rows: 1fr auto;
  grid-template-areas: "title button" "items items";
  margin: 1.2em 2em;
}

.list-section .list-titles {
  grid-area: title;
  color: #c9c9c9;
  font-size: 1.5rem;
  font-family: "Poppins", "Roboto", "Open Sans", "Arial";
  font-weight: 500;
}

.list-section .toggle-button {
  grid-area: button;
  text-align: center;
  background-color: transparent;
  border: none;
}

.list-section .icon-list {
  color: #c9c9c9;
  font-size: 1.8rem;
}

.list-section .items-section {
  grid-area: items;
}

.done-title {
  color: #707070;
  text-align: center;
  font-family: "Open Sans", "Poppins", "Roboto", "Arial";
  font-weight: 450;
  font-size: 1rem;
  padding: 1em 0;
  margin: 1em 0;
  border-top: solid;
  border-bottom: solid;
  border-width: 0.1em;
  border-color: #707070;
}

.task-container {
  display: grid;
  grid-template-columns: 4em auto 4em;
  grid-template-rows: auto auto;
  grid-template-areas:
    "button name delete"
    "button date delete";
  background-color: #2b2d38;
  border-radius: 0.6em;
  margin: 0.7em 0;
}

.task-container .task-btn-done {
  grid-area: button;
  align-self: center;
  justify-self: center;
  outline: none;
  background-color: #c46083;
  border-radius: 45%;
  height: 2.5em;
  width: 2.5em;
}

.task-container .task-btn {
  grid-area: button;
  align-self: center;
  justify-self: center;
  background-color: transparent;
  outline: none;
  border: solid;
  border-color: #c46083;
  border-radius: 45%;
  height: 2.5em;
  width: 2.5em;
}

.task-container .task-name {
  grid-area: name;
  color: #c9c9c9;
  word-break: break-all;
  font-size: 1.2rem;
  padding-top: 0.3em;
}

.task-container .task-date {
  grid-area: date;
  color: #c9c9c9a8;
  font-size: 0.8rem;
  padding-top: 0.3em;
  padding-bottom: 0.6em;
}

.task-container .checkmark-icon {
  color: #2b2d38;
  font-size: 1.4em;
  padding-top: 0.3em;
}

.task-container .delete-btn {
  grid-area: delete;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  color: #ff5e61;
  font-size: 1.2em;
}

@media screen and (min-width: 992px) {
  body {
    margin: 0 2em;
  }

  header h1 {
    text-align: left;
    padding-left: 3em;
    padding-bottom: 0.4em;
  }

  .add-task-title {
    display: inline-block;
    color: #c9c9c9;
    font-size: 1.5rem;
    font-family: "Poppins", "Roboto", "Open Sans", "Arial";
    font-weight: 500;
    margin: 0 0 0.6em 1.2em;
  }

  .form-container {
    float: left;
    width: 33%;
  }

  .add-form {
    grid-template-areas: "name name" "date time" "submit submit";
    border: none;
    border-radius: 0.6em;
    background-color: #2b2d38;
    font-size: 1rem;
    margin: 0 1.4em;
  }

  .form-control input {
    background-color: #474850;
    font-size: 1rem;
  }

  .pending-list {
    display: inline-block;
    width: 34%;
  }

  .completed-list {
    display: inline-block;
    width: 33%;
  }

  .list-section {
    margin: 0 2em;
  }

  .btn-add {
    grid-area: submit;
    justify-self: center;
    width: 48%;
    font-size: 0.8rem;
  }
}
